body {
    background-color: rgb(11, 150, 197);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    

}

header {
    color: white;
    text-align: center;
}

section {
    width: 500px;
    padding: 15px;
    margin: auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

div {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}